.navbar{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:82px;

    background:#fff;

    display:flex;
    align-items:center;
    justify-content:space-between;

    border-bottom:1px solid #e5e7eb;

    z-index:1000;
}

.navbar-left{
    width:270px;
    height:82px;

    display:flex;
    align-items:center;
    justify-content:center;

    border-right:1px solid #e5e7eb;
}

.logo{
    width:170px;
}

.navbar-center{
    flex:1;
    display:flex;
    justify-content:center;
}

.search-box{
    width:520px;
    height:44px;

    display:flex;
    align-items:center;

    padding:0 18px;

    border:1px solid #dbe4f0;
    border-radius:999px;
}

.search-box input{
    flex:1;
    border:none;
    outline:none;
    margin-left:10px;
}

.search-icon{
    color:#94a3b8;
}

.navbar-right{
    width:270px;

    display:flex;
    justify-content:flex-end;
    align-items:center;

    gap:25px;
    padding-right:30px;
}

.notification{
    position:relative;
}

.badge{
    position:absolute;
    top:-6px;
    right:-8px;

    width:18px;
    height:18px;

    border-radius:50%;

    background:#7c3aed;
    color:#fff;

    display:flex;
    justify-content:center;
    align-items:center;

    font-size:10px;
}

.profile{
    display:flex;
    align-items:center;
    gap:10px;
}

.profile img{
    width:42px;
    height:42px;
    border-radius:50%;
}