.progress-chart-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  flex-shrink: 0;
}

.progress-ring {
  width: 100%;
  height: 100%;
  transform: rotate(-90deg); /* Starts the progress at 12 o'clock */
}

.progress-ring-circle {
  transition: stroke-dashoffset 0.5s ease-in-out;
  stroke-linecap: round;
}

.progress-percentage {
  position: absolute;
  font-size: 0.75rem;
  font-weight: 700;
  color: #333;
}

@media (min-width: 992px) and (max-width: 1399.98px) {
  .progress-chart-wrapper {
    width: 46px;
    height: 46px;
  }

  .progress-percentage {
    font-size: 0.68rem;
  }
}
