.delete-success-overlay {
  position: fixed;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.45);

  display: flex;

  justify-content: center;

  align-items: center;

  z-index: 99999;
}

/* Delete Popup Card */

.delete-success-card {
  width: 380px;

  background: white;

  border-radius: 18px;

  padding: 35px;

  text-align: center;

  position: relative;

  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
}

/* Close Icon */

.delete-success-close {
  position: absolute;

  top: 15px;

  right: 15px;

  border: none;

  background: none;

  font-size: 22px;

  cursor: pointer;

  color: #555;
}

.delete-success-close:hover {
  color: #dc3545;
}

/* Red Delete Icon */

.delete-success-icon {
  font-size: 60px;

  color: #dc3545;

  margin-top: 10px;
}

/* Heading */

.delete-success-card h2 {
  margin-top: 15px;

  color: #333;

  font-size: 28px;

  font-weight: 600;
}

/* Message */

.delete-success-card p {
  margin-top: 10px;

  color: #666;

  font-size: 16px;
}

/* Continue Button */

.delete-success-continue {
  width: 35%;

  padding: 5px;

  border: none;

  border-radius: 8px;

  background: #ee3447 !important;

  color: rgb(0, 0, 0);

  font-size: 16px;

  cursor: pointer;
}

.delete-success-continue:hover {
  background: #dc3545 !important;
}
