/* ================================
   GLOBAL RESET
================================ */

*,
*::before,
*::after{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


html,
body,
#root{
    width:100%;
    min-height:100%;
}


body{

    font-family:Inter, sans-serif;

    background:#f8fafc;

    overflow-x:hidden;

}



/* ================================
   APP LAYOUT
================================ */


.app-layout{

    width:100%;

    min-height:100vh;

}



/* ================================
   MAIN AREA
================================ */


.main-layout{

    margin-left:280px;

    width:calc(100% - 280px);

    min-height:100vh;

}



/* ================================
   PAGE CONTENT
================================ */


.page-content{

    width:100%;

    min-height:100vh;

    padding:30px;

    padding-top:120px;

}



/* ================================
   MOBILE
================================ */


@media(max-width:1024px){


.main-layout{

    margin-left:0;

    width:100%;

}


}



@media(max-width:768px){


.page-content{

    padding:20px;

    padding-top:110px;

}


}